/*********** HEADER **************/

header {
  background-color: #16352f;
}

/*********** BODY **************/

body {
  background-color: #16352f;
}

/*********** MAIN **************/

main {
  background-color: #16352f;
}

/*********** FOOTER **************/
footer {
  background-color: #16352f;
}
