/*********** HEADER **************/

header {
  background-color: #16352f;
}

/*********** BODY **************/

body {
  background-color: #16352f;
}

/*********** MAIN **************/

main {
  background-color: #fcfaee;
}

/*********** FOOTER **************/
footer {
  background-color: #16352f;
}
h1 {
  color: black;
  font-weight: 700;
  text-align: center;
}
